/* Base Style */
body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
}

.container {
    background-color: #161b22;
    padding: 30px;
    border-radius: 12px;
    width: 650px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border: 1px solid #30363d;
}

/* Tulisan Todo List Center */
h1 {
    color: #f0f6fc;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"] {
    background-color: #0d1117;
    border: 1px solid #30363d;
    color: white;
    padding: 12px;
    border-radius: 6px;
    flex: 1;
}

/* Base Button Style */
button {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

/* Tombol + dan Delete All (Tetap Ungu) */
#add-btn,
#delete-all-btn {
    background-color: #8b96f7;
    color: #0d1117;
}

#add-btn:hover,
#delete-all-btn:hover {
    background-color: #a3acff;
}

#add-btn {
    font-size: 20px;
    width: 50px;
}

/* Tombol Filter (Gak Perlu Warna / Netral) */
#filter-btn {
    background-color: transparent;
    color: #8b949e;
    /* Warna abu-abu pudar */
    border: 1px solid #30363d;
}

#filter-btn:hover {
    background-color: #21262d;
    color: white;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#filter-btn,
#delete-all-btn {
    flex: 1;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    text-align: left;
    color: #8b949e;
    font-size: 13px;
    border-bottom: 2px solid #30363d;
    padding: 10px;
}

td {
    padding: 15px 10px;
    border-bottom: 1px solid #30363d;
    font-size: 14px;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .input-section {
        flex-direction: column;
    }

    #add-btn {
        width: 100%;
    }
}