body {
    background-color: #0d1117;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background-color: #161b22;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    text-align: center;
}

input,
button {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border: none;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #30363d;
}